@import url(../../css/header.css);

/******* Reset *******/
html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #0098FA;
  background-color: #090C10;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}